.home{
  text-align: center;
  flex: 1 1 auto;
  padding: 20px 0px;
  &__container{
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  &__input{
    border: 1px solid #000;
    font-size: 14px;
    padding: 5px 10px;
    &:focus{
      outline: none;
    }
  }
  &__button{
    border: 1px solid #000;
    padding: 5px 10px;
    transition: all 0.3s ease;
    cursor:no-drop;
    &:hover{
      
    }
  }
}