.header {
  font-size: 20px;
  text-align: center;
  padding: 20px 0px;
  border-bottom: 1px solid #000;
  &__container {
    max-width: 1100px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  &__title {
    font-weight: 700;
  }
  &__navigation {
    display: flex;
    gap: 30px;
    justify-content: flex-end;
  }
  &__item {
    color: #4e4e4e;
  }
}

.active {
  border-bottom: 2px solid #000;
  color: #000;
}
