@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
/* reset default styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
}
li {
  list-style: none;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
img {
  vertical-align: top;
}

/* ================================================================ */

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(197, 196, 196);
  font-family: 'Montserrat', sans-serif;
}
