.home {
  flex: 1 1 auto;
  padding: 20px 0px;
  &__container {
    max-width: 1100px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  &__list-title {
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
  }
  &__search {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }
  &__input {
    border: 1px solid #000;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    flex: 1 1 auto;
    &:focus {
      outline: none;
    }
  }
  &__button {
    border: 1px solid #000;
    padding: 5px 10px;
    transition: all 0.3s ease;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    cursor: pointer;
    border-radius: 5px;
    &:hover {
      background-color: #c4c4c4;
    }
  }
  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
  }
  &__preloader{
    max-width: 100px;
    margin: 0 auto 20px auto;
    display: block;
  }
}
