.feed-back-card {
  flex: 1 1 27%;
  box-shadow: 0 0 10px 0px #000;
  border-radius: 10px;
  background: #dfdfdf;
  min-width: 200px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px 10px 10px 10px;
  }
  &__text {
    &:first-child {
      font-weight: 700;
    }
  }
}
