.form{
  border: 1px solid #000;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 10px;
  margin-bottom: 30px;
  &__box{
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    position: relative;
  }
  &__inputs{
    width: 200px;
    display: flex;
    justify-content: space-evenly;
  }
  &__input-box{
    font-size: 14px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
  }
  &__name{

  }
  &__label{

  }
  &__checkbox{
    
  }
  &__radio{

  }
  &__file{
    
  }
  &__submit{
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
  }
  &__error{
    position: absolute;
    top: 25px;
    font-size: 14px;
    color: red;
    font-weight: 700;
  }
}
.input{
  width: 200px;
}