.input {
  display: block;
  flex: 0 1 45%;
  background-color: #c4c4c4;
  padding: 12px;
  border-radius: 10px;
  box-sizing: border-box;
  transition: all 0.3s ease;
  font-size: 16px;
  min-width: 200px;
  &:focus,
  &:hover {
    box-shadow: 0 0 10px 5px #0000008c;
    outline: none;
  }
}
.form {
  background-color: #fff;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
  margin-bottom: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 0 10px 10px #0000008c;
  transition: all 0.3s ease;
  &:hover {
    box-shadow: 0 0 22px 10px #0000008c;
  }
  &__box {
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }
  &__inputs {
    flex: 0 1 45%;
    max-width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c4c4c4;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 14px;
    transition: all 0.3s ease;
    position: relative;
    height: 50px;
    &:focus,
    &:hover {
      outline: none;
    }
  }
  &__input-box {
    font-size: 14px;
    text-align: center;
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  &__icon {
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    font-size: 26px;
    color: #fff;
    position: relative;
    transition: all 0.3s ease;
    flex-shrink: 0;
    &:before {
      content: '!';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &:hover {
      box-shadow: 0 0 5px 2px red;
    }
  }
  &__file{
    visibility: hidden;
    padding: 0;
  }
  &__file-btn{
    position: absolute;
    left: 12px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    border:1px solid #000;
    &:hover{
      background-color:#a8a6a6;;
    }
  }
  &__label {
    font-weight: 700;
    font-size: 18px;
    flex: 1 1 330px;
    &_radio {
      font-weight: 400;
    }
  }
  &__submit {
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    background-color: #c4c4c4;
    border-radius: 10px;
    padding: 12px;
    transition: all 0.3s ease;
    &:hover {
      background-color: #afaeae;
    }
  }
  &__error {
    position: absolute;
    color: #000;
    font-size: 14px;
    width: 262px;
    height: 34px;
    border-radius: 10px;
    padding: 10px;
    background: #c4c4c4;
    top: -75px;
    left: -15px;
    border: 1px solid #000;
    transition: all 0.5s ease;
    display: none;
    cursor: default;
    &_checkbox {
      left: -16px;
    }
    &::before {
      content: '';
      position: absolute;
      bottom: -18%;
      left: 20px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #c4c4c4;
      z-index: 1;
    }
    &::after {
      content: '';
      position: absolute;
      bottom: -12px;
      left: 18px;
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-top: 12px solid #000;
      z-index: 0;
    }
  }
}

.form__icon:hover > .form__error {
  display: block;
}

.label{
  position: relative;
  font-size: 16px;
  &::after{
    content: '';
    background-color: #fff;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 0px;
    left: -25px;
    // border-radius: 50%;
    border:2px solid #000;
    z-index: 1;
  }
  &::before{
    content: "";
    background-color: #000;
    width: 9px;
    height: 9px;
    position: absolute;
    top: 4px;
    left: -21px;
    // border-radius: 50%;
    z-index: 2;
    opacity: 0;
    transition: all 0.3s ease;
  }
}
.checkbox:checked + .label::before {
  opacity: 1;
}
.checkbox{
  opacity: 0;
}
.test{
  width: 150px;;
}