.modal{
  max-width: 600px;
  padding: 20px;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #aeaeae;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: all 0.5s ease;
  z-index: 10;
  &__title{
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 20px;
  }
  &__body{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }
  &__image{
    max-width: 400px;
    max-height: 350px;
  }
  &__info{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__item-home-page{
    color: #000;
    font-weight: 500;
  }
  &__desc{
    font-size: 18px;
    padding: 10px;
    border: 1px solid #000;
    background-color: #9d9d9d;
  }
  &__close{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    &::before, &::after{
      content: '';
      width: 26px;
      height: 2px;
      background-color: #000;
      position: absolute;
    }
    &::after{
      top: 16px;
      left: 0;
      transform: rotate(-45deg);
    }
    &::before{
      bottom: 12px;
      left: 0;
      transform: rotate(45deg);
    }
  }
}
.home__shadow{
  position: fixed;
  background-color: #0000009a;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.5s ease;
  z-index: 9;
}
